.about .about-page{
    background-image: url('../images/about-page-img/about-hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about .about-page .about-hero-content h2{
    font-size: 72px;
     font-weight: 700;
     line-height: 108px;
     color: #ED7F1E;
}

.about .about-page .about-hero-content h3{
    font-size: 60px;
    font-weight: 500;
    line-height: 90px;
    color: #FCFCFC;
}

.about .about-page .about-hero-content p{
    font-weight: 400;
    line-height: 24px;
    color: #ACACAC;
}

.about .about-page a{
    padding: 12px 25px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    background-color: #ED7F1E;
    color: white;
}

.about .about-content .main-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    color: #444444;
}

.about .about-content .sub-title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #979797;
}

.about .skills-part .card .card-content{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px 8px;
    border: 1px solid #EAEAEA;
    width: 179px;
    height: 122px;
}

.about .skills-part .card .card-content .card-text{
    color: #F1994B;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.about .skills-part .card .card-content .card-sub{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about .short-about-services-part h6{
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: #444444;
}


.about .about-team .card h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #595959;
}

.about .about-team .card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6D6D6D;
}

.about .about-team .team-link{
    padding:10px 15px;
    border-radius: 4px;
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #ACACAC;
}

.about .about-team .main-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #444444;

}

.about .about-team .sub-title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #979797;
}

.about .fm-project-contact h5{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
}

.about .fm-project-contact .fm-contact-link{
    border-radius: 4px;
    padding: 12px 25px;
    background-color: #ED7F1E;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #FDFDFD;
}

@media (max-width:480px) {
    .about .about-page .about-hero-content h2{
        font-size: 46px;
        line-height: 50px;
    }

    .about .about-page .about-hero-content h3{
        font-size: 45px;
        line-height: 50px;
    }
}

@media (max-width:992px) {
    .about .skills-part .card .card-content{
        width: 100%;
    }
}

@media (max-width:768px) {
    .about .fm-project-contact .fm-project-contact-content{
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:528px) {
    .about .about-team .card{
       width: 200px;
       padding: 10px;
    }
}

@media (max-width:448px) {
    .about .about-team .card{
       width: 190px;
       height: 250px;
       padding: 10px;
    }
}

@media (max-width:428px) {
    .about .about-team .card{
       width: 180px;
       height: 250px;
       padding: 10px;
    }
}

@media (max-width:408px) {
    .about .about-team .card{
       width: 100%;
    }
}