.fm-contact .fm-contact-hero {
    background-image: url('../images/contact-page-img/contact-hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}



.fm-contact .fm-content-info {
    background-color: #2E2E2E80;
    border-radius: 4px;
    border: 1px solid #444444;
    width: 220px;
    height: 108px;
    color: #ACACAC;

}



.fm-contact .fm-contact-btn {
    border-radius: 4px;
    border: none;
    background-color: #ED7F1E;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #FDFDFD;
    padding: 10px 20px;
}

.fm-contact .fm-contact-form form label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7C7C7C;
}

.fm-contact .fm-contact-form form input {
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    padding: 10px 8px;
    outline: none;
    background-color: #FDFDFD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.fm-contact .fm-contact-form form select {
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    padding: 10px 8px;
    outline: none;
    background-color: #FDFDFD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.fm-contact .fm-contact-form form input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #CFCFCF;
}

.fm-contact .fm-contact-form h5 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58.51px;

}

option:hover {
    background-color: #ED7F1E !important;
}

.fm-contact .fm-contact-form textarea {
    resize: none;
    border: none;
    border: 1px solid #C3C3C3;
    outline: none;
    border-radius: 4px;
}

.fm-contact .ant-select {
    height: 47px;
}


.ant-select-item-option-active {
    color: white !important;
    background-color: #ED7F1E !important;

}

.ant-select-item-option-selected {
    background-color: #ED7F1E;
}


:where(.css-dev-only-do-not-override-17seli4).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: white;
    background-color: #ED7F1E;
}


:where(.css-dev-only-do-not-override-1r287do).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: white;
    background-color: #ED7F1E;
}


:where(.css-dev-only-do-not-override-1r287do).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #DBDBDB;
}


.ant-select-focused:where(.css-dev-only-do-not-override-lr287d0).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #ed7f1e !important;
    box-shadow: 0 0 0 2px rgba(251, 152, 2, 0.1) !important;
    outline: 0;
}