.home .hero-page {
    background-image: url('../images/home-page-img/home-hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .hero-page .home-hero-content h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 108px;
    color: #ED7F1E;
}

.home .hero-page .home-hero-content h3 {
    font-size: 60px;
    font-weight: 500;
    line-height: 90px;
    color: #FCFCFC;
}

.home .hero-page .home-hero-content p {
    font-weight: 400;
    line-height: 24px;
    color: #ACACAC;
}

.home .hero-page a {
    padding: 12px 25px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    background-color: #ED7F1E;
    color: white;
}



.home .short-about-part h5 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    color: #444444;
}

.home .short-about-part p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #979797;
}

.home .services-part-head h6 {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: #444444;

}

.home .home-why-part .home-why-part-head h5 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    color: #444444;
}

.home .home-why-part .card-header {
    font-size: 19px;
    font-weight: 500;
    line-height: 32px;
}

.home .home-why-part .card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media (max-width:576px) {
    .home .home-why-part .cards {
        text-align: center;
        padding: 0 30px;
    }
}