.fm-portfolio-card .card{
    height: 280px;
    padding: 20px 15px;
    
}

.fm-portfolio-card .card img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.fm-portfolio-card .card h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #595959;
}

.fm-portfolio-card .card a{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #595959;
    transition: all 0.5s ease;
}

.fm-portfolio-card .card:hover{
    cursor: pointer;
}

.fm-portfolio-card .card:hover a{
    color: #ED7F1E;
}

.fm-portfolio-link {
    cursor: pointer;
    padding:10px 15px;
    border-radius: 4px;
    background-color: #F5F5F5;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ACACAC;
}

.fm-portfolio-card .fm-portfolio-card-head h5{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
}

@media (max-width:528px) {
    .fm-portfolio-card .card{
       width: 200px;
       padding: 10px;
    }
}

@media (max-width:448px) {
    .fm-portfolio-card .card{
       width: 190px;
       height: 250px;
       padding: 10px;
    }
}

@media (max-width:428px) {
    .fm-portfolio-card .card{
       width: 180px;
       height: 250px;
       padding: 10px;
    }
}

@media (max-width:408px) {
    .fm-portfolio-card .card{
       width: 100%;
    }
}